* {
  box-sizing: border-box;
}

html {
  --bg: #eaf4fc;
  --fg: #25282a;
  //--gray: #888;
  --royal: #3bf632;
  --blue: #d6ffda;
  --green: #03ba4c;
  --primary: black;
  --secondary: var(--royal);
  --tertiary: #ff585d;

  background-color: var(--bg);
  color: var(--fg);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica,
    Arial, sans-serif;
  font-size: calc(0.65em + 0.7vw);
  line-height: 1.3;

  ::selection {
    background: var(--secondary);
    color: var(--bg);
  }

  @media (prefers-color-scheme: dark) {
    --bg: #25282a;
    --fg: #fff;
    --secondary: var(--blue);

    ::selection {
      background: var(--secondary);
      color: var(--fg);
    }
  }
}
nav a {
  margin: 1em;
  padding: 0.25em 1em;
  text-decoration: none; /* no underline */
  background-color: #ebf5ff; /* pale bluish white */
  color: #4312ae; /* dark blue */
}
#logoutbtn {
  float: right;
}
.grid-module--grid--O1Jv1 {
  display: grid;
  grid-gap: 2em;
  margin: 0 auto;
  grid-gap: 2.5em 2em;
  grid-template-columns: repeat(3, minmax(15em, 1fr));
}
.card {
  border: 3px solid var(--gray);
  overflow: hidden;
  border-radius: 5px;
  transition: all 0.2s;
  padding: 1em;
  height: 500px;
  overflow-y: auto;
  background-color: #ffffff;
}
body {
  margin: 0 auto;
  padding: 0 1em;
  max-width: 40em;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.highlight {
  align-items: center;
  display: flex;
  margin-bottom: 0.5em;
  width: 100%;

  input {
    caret-color: var(--secondary);
  }
}

// label {
//   //color: var(--gray);
// }

button,
.highlight {
  border-radius: 5px;
  border-color: var(--primary);
  border: 0.1em solid var(--green);
  padding: 0.5em 0.5em;
  margin-right: 10px;
  &:hover,
  &:focus,
  &:focus-within {
    border-color: var(--secondary);
  }
}

input {
  border: none;
  flex: 1;
  &:read-only {
    color: var(--primary);
  }
}

input[type="number"] {
  text-align: center;
  border-bottom: 0.1em solid var(--primary);
  margin: 0 1em;
  width: 4em;
  padding-left: 0.5em;
  &:hover,
  &:focus {
    border-color: var(--secondary);
  }
}

button,
input {
  background: white;
  color: inherit;
  cursor: pointer;
  font: inherit;
  outline: none;
}

button {
  position: relative;
  transition: top 50ms;
  &:hover,
  &:focus {
    top: -1px;
  }
  &:active {
    background: var(--secondary);
    border-color: var(--secondary);
    top: 1px;
  }
}

.is-premium {
  border-left: 0.25em solid var(--secondary);
  padding-left: 0.25em;
  margin-left: -0.5em;
}
form {
  width: 100%;
  margin: 10px auto;
  padding: 10px auto;
}

form button {
  margin: 0 auto;
  display: block;
  width: 50%;
}
label,
input {
  /* In order to define widths */
  display: inline-block;
}

form label {
  width: 30%;
  /* Positions the label text beside the input */
  text-align: right;
}

label + input {
  width: 30%;
  /* Large margin-right to force the next element to the new-line
           and margin-left to create a gutter between the label and input */
  margin: 0 30% 0 4%;
}

/* Only the submit button is matched by this selector,
       but to be sure you could use an id or class for that button */

input + input {
  float: right;
}
